<p id="notice"><%= notice %></p>

<p>
  <strong>Trainer name:</strong>
  <%= @trainer.tname %>
</p>

<p>
  <strong>Level:</strong>
  <%= @trainer.level %>
</p>

<p>
  <strong>List of Tokimon owned:</strong>
  <%= @tokimon_num %>
</p>


<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back to Trainer', trainers_path %>
